<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Bem-vindo</title>
</head>
<body>
    <section id="cima" class="azul">
        <div class="back1">
            <div class="casa">
                <img src="../assets/images/1f3e0.png" alt="">
            </div>
        </div>
    </section>
    <section id="baixo" class="back2">

    </section>
</body>
</html>