body{
    background-color: greenyellow;
}
/* .azul{
    background-color: lightskyblue;
}
.back1{
    background-color: lightskyblue;
} */
/* .back2{
    background-color: greenyellow;
} */
.casa{
    margin-left: 30%;
}